body {
  background-color: rgb(25, 197, 219);
}

#profile-container {
  display: block;
  margin: 4rem auto auto auto;
  justify-self: auto;
  align-self: center;
  width: 65vw;
  min-width: 620px;
  font-family: 'Comic Neue', cursive;
}

#header-container {
  display: grid;
  grid-template-columns: 28% 72%;
  margin: 0.5rem auto 0.5rem auto;
}

#profile-pic-div {
  grid-column: 1 / 2;
}

#header-right {
  grid-column: 2 / 2;
  align-self: end;
}

#profile-pic {
  width: 10rem;
  border-radius: 50%;
}

.header-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 1.5rem 1rem 1rem;
  font-family: 'Comic Neue', cursive;
  font-size: 1.2rem;
  transition: color 0.18s;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.header-btn.active {
  color: navy;
  background-color: rgb(33, 191, 212);
  border: 2px solid navy;
}

.header-btn.inactive {
  background-color: rgb(25, 197, 219);
  border: 2px solid lightgray;
  color: rgb(236, 233, 233);
}

.header-btn:hover {
  color: white;
  cursor: pointer;
}

.header-btn.inactive:hover {
  color: navy;
  cursor: pointer;
}

#profile-repo-search {
  height: 2rem;
  width: 21rem;
  border-radius: 3px;
  border-style: hidden;
  font-family: 'Comic Neue', cursive;
  font-size: 1rem;
  padding-left: 0.75rem;
  margin-bottom: 3rem;
}

#profile-repo-search {
  outline: none;
}

#logincont {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 50%;
  transform: translateX(-12vw);
}

#logincont h3 {
  text-align: center;
}

#logincont form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 24vw;
  height: 24vh;
  background-color: linen;
  border-radius: 8px;
  border: 1px solid black;
  min-width: 285px;
}

#logincont form div {
  display: flex;
  justify-content: space-between;
}

#logincont form div input {
  margin-left: 10px;
}

#cat-and-repo {
  display: flex;
}

#categorycont {
  color: navy;
  font-family: 'Comic Neue', cursive;
  width: 12vw;
  min-width: 125px;
  text-align: center;
}

#repo-container {
  font-family: 'Comic Neue', cursive;
  margin-left: 3.8rem;
  width: 70%;
  min-width: 23rem;
}

.repotitle {
  font-family: 'Comic Neue', cursive;
  font-size: 1.3vw;
}

.repoicon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

/* grid stuff */

.repo-div {
  width: 46vw;
  height: 30vh;
  padding-left: 1rem;
  border: 2px solid navy;
  border-radius: 8px;
  color: navy;
  display: grid;
  margin-bottom: 1rem;
  grid-template-rows: 2fr, 2fr, 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  font-family: 'Comic Neue', cursive;
}

.repoheader {
  font-size: 2.1rem;
  font-family: 'Comic Neue', cursive;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 1vw;
}

.repodesc {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}

.repoowner {
  grid-row: 2;
  grid-column: 5;
}

.repourl {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.repostars {
  font-size: 1.2rem;
  grid-row: 1;
  grid-column: 5;
  margin-top: 2rem;
}

.repodragtocat {
  background-color: navy;
  color: rgb(25, 197, 219);
  border-radius: 5px;
  grid-row: 1;
  grid-column: 4;
  text-align: center;
  margin: 1rem 2rem 1rem 2rem;
  padding-top: 1.2rem;
}

.repohelp {
  grid-row: 3;
  grid-column: 5;
}

.repohelp div {
  display: flex;
}

.helpbut {
  font-family: 'Comic Neue', cursive;
  padding: 0.1rem 0.2rem 0.0rem 0.2rem;
  margin-right: 0.3rem;
  border-radius: 3px;
}

.helpbut.active {
  background-color: rgb(25, 197, 219);
  color: navy;
  border: 1px solid navy;
}

/* grid end*/

.catContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 12vw;
  min-width: 120px;
  height: 5vh;
  padding-left: 0.5rem;
  border: 2px solid linen;
  margin-bottom: 0.25rem;
}

.catContainer .containericon {
  margin-right: 00.5rem;
}

.containericon {
  color: navy;
  font-size: medium;
  bottom: 0px;
}

.addCatForm {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.addCatForm.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Comic Neue', cursive;
}

.addCatForm.active input {
  width: 8vw;
  border: none;
  border-radius: 3px;
  min-width: 100px;
  margin-right: 0.5vw;
  margin-left: 1.5vw;
  margin-bottom: 1vh;
  outline: none;
  height: 2.5vh;
  font-family: 'Comic Neue', cursive;
  font-size: inherit;
}

.addCatForm.active button {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: none;
  border: none;
  outline-style: none;
  margin: none;
  padding: 0px 0px 0px 0px !important;
  margin-bottom: 1vh;
  text-align: left;
}

.addCatForm.active button:visited {
  border: none;
  outline-style: none;
  background-color: none;
}

.check {
  position: relative;
  margin-left: 0px !important;
  margin-top: 0px !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
}

.containericon.inactive {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.containericon.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  margin-left: 0.4vw;
  vertical-align: middle;
}
