body {
  background-color: rgb(25, 197, 219);
}

#profile-container {
  display: block;
  margin: 4rem auto auto auto;
  justify-self: auto;
  align-self: center;
  width: 65vw;
  min-width: 620px;
}

#header-container {
  display: grid;
  grid-template-columns: 28% 72%;
  margin: 0.5rem auto 0.5rem auto;
}

#profile-pic-div {
  grid-column: 1 / 2;
}

#header-right {
  grid-column: 2/3;
  align-self: end;
}

#cat-and-repo {
  display: inline-block;
  margin-left: 2rem;
}

#profile-pic {
  width: 10rem;
  border-radius: 50%;
}

.header-btn {
  display: inline-block;
  border-radius: 3px;
  padding: 1rem 1.5rem 1rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  transition: color 0.18s;
}

.header-btn:hover {
  color: white;
}

#profile-repo-search {
  height: 2rem;
  width: 21rem;
  border-radius: 3px;
  border-style: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding-left: 0.75rem;
  margin-bottom: 3rem;
}

#profile-repo-search {
  outline: none;
}

#logincont {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 50%;
  transform: translateX(-12vw);
}

#logincont h3 {
  text-align: center;
}

#logincont form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 24vw;
  height: 24vh;
  background-color: linen;
  border-radius: 8px;
  border: 1px solid black;
  min-width: 285px;
}

#logincont form div {
  display: flex;
  justify-content: space-between;
}

#logincont form div input {
  margin-left: 10px;
}
